<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="blog application using nodejs, expressjs, mongodb, bootstrap, ejs"
    />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Nodejs, Expressjs, Mongodb, Ejs, HTMLBlog"
    />
    <meta name="author" content="Vishal Kumar" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="shortcut icon" href="/assets/blogger.png" type="image/x-icon" />

    <title>Blogger - Create your blogs with blogger</title>
  </head>

  <body>
