<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid nav">
    <div class="nav-heading">
      <a class="navbar-brand text-white" href="/">Blogger</a>
    </div>
    <button
      class="navbar-toggler text-white bg-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/blog/new">Create Blog</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= locals.user ? user.name : 'Guest' %>
          </a>
          <ul class="dropdown-menu">
            <% if (locals.user) { %>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
            <% } else {%>
            <li>
              <a class="dropdown-item" href="/signup">Create Account</a>
            </li>
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <% } %>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-1">
        <li
          class="nav-item d-flex justify-content-center align-item-center mx-2 mt-1"
          style="width: 38px; height: 38px"
        >
          <img
            src="<%= locals.user ? user.userProfileImageURL : '/assets/user-profile.svg' %>"
            class="img-fluid"
            style="border-radius: 50%"
            alt="user-profile-img"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
