<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Blogger</a>
    <button
      class="navbar-toggler text-white bg-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/blog/new-blog">Create Blog</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-1">
        <li
          class="nav-item d-flex justify-content-center align-item-center mx-2"
        >
          <img src="/assets/user-profile.svg" alt="user-profile-img" />
        </li>

        <% if (locals.user) { %>
        <button
          type="button"
          class="btn btn-outline-primary"
          style="
            --bs-btn-padding-y: 0.05rem;
            --bs-btn-padding-x: 0.5rem;
            --bs-btn-font-size: 0.95rem;
          "
        >
          <a class="nav-link text-white" href="#">Logout</a>
        </button>
        <% } else {%>
        <button
          type="button"
          class="btn btn-outline-primary"
          style="
            --bs-btn-padding-y: 0.05rem;
            --bs-btn-padding-x: 0.5rem;
            --bs-btn-font-size: 0.95rem;
          "
        >
          <a class="nav-link text-white" href="/signin">Create Account</a>
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          style="
            --bs-btn-padding-y: 0.05rem;
            --bs-btn-padding-x: 0.5rem;
            --bs-btn-font-size: 0.95rem;
          "
        >
          <a class="nav-link text-white" href="/login">Login</a>
        </button>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
