.flex_column {
    flex-direction: column !important;
}


@media (min-width: 768px) {
    .flex_column {
        flex-direction: row !important;
    }
}

@media (min-width: 992px) {
    .nav-heading {
        margin-left: 8px;
    }

    .signin-container {
        width: 500px !important;
    }
}

@media (min-width: 1400px) {
    .nav {
        max-width: 1366px !important;
    }
}