<%- include('./partials/header') %> <%- include('./partials/navbar') %>

<div class="container mt-5 border p-4 rounded box shadow">
  <form action="/new" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="formFile" class="form-label">Choose Thumbnail</label>
      <input
        type="file"
        class="form-control"
        name="coverImage"
        id="formFile"
        aria-label="file example"
        required
      />
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Heading</label>
      <input
        type="text"
        class="form-control"
        id="text"
        name="title"
        placeholder="Blog Heading"
        required
      />
    </div>
    <div class="mb-3">
      <label for="summary" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="summary"
        rows="5"
        name="content"
        required
      ></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary text-white">Upload</button>
    </div>
  </form>
</div>

<%- include('./partials/footer') %>
