<%- include('./partials/header') %> <%- include('./partials/navbar') %>

<div class="container my-5">
  <div class="signin-container bg-white rounded shadow px-3 py-3 mx-auto">
    <div class="text-center mb-5">
      <h1 class="text-dark mb-3">Create Account</h1>
    </div>
    <form action="/signup" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFile" class="form-label">Choose Photo</label>
        <input
          type="file"
          class="form-control"
          name="profileImage"
          id="formFile"
          aria-label="file example"
        />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          id="name"
          autocomplete="off"
          placeholder="Name"
          aria-describedby="name"
        />
      </div>
      <!-- <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          id="username"
          autocomplete="off"
          placeholder="username"
          aria-describedby="username"
        />
      </div> -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          placeholder="Email"
          autocomplete="off"
          aria-describedby="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
        />
      </div>
      <button
        type="submit"
        id="kt_sign_in_submit"
        class="btn btn-lg btn-primary w-100 mb-3"
      >
        <span class="indicator-label">Create Account</span>
      </button>
    </form>
  </div>
</div>
<%- include('./partials/footer') %>
