<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div class="card mx-auto mt-4 shadow box">
  <div>
    <img src="/assets/download.jpg" class="card-img-top img-fluid" alt="..." />
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <p class="fs-5">Created By: <span>John Dou</span></p>
    <div class="mt-2">
      <button class="btn btn-primary">
        <a class="text-white text-decoration-none" href="/blog/edit"
          >Edit Blog</a
        >
      </button>
      <button class="btn btn-danger text-white">
        <a class="text-white text-decoration-none" href="/blog/delete"
          >Delete Blog</a
        >
      </button>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
