<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div class="blog container mt-5 d-flex gap-4 flex-column">
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis"
          >Design</strong
        >
        <h3 class="mb-0">Post title</h3>
        <div class="mb-1 text-body-secondary">Nov 11</div>
        <p class="mb-auto">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/assets/javascript.jpg" alt="blog poster" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis"
          >Design</strong
        >
        <h3 class="mb-0">Post title</h3>
        <div class="mb-1 text-body-secondary">Nov 11</div>
        <p class="mb-auto">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/assets/javascript.jpg" alt="blog poster" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
<!-- <div class="card mx-auto mt-4 shadow box">
  <div>
    <img
      src="/assets/javascript.jpg"
      class="card-img-top img-fluid"
      alt="..."
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <p class="fs-5">Created By: <span>John Dou</span></p>
    <div class="mt-2">
      <button class="btn btn-primary">
        <a class="text-white text-decoration-none" href="/blog/edit"
          >Edit Blog</a
        >
      </button>
      <button class="btn btn-danger text-white">
        <a class="text-white text-decoration-none" href="/blog/delete"
          >Delete Blog</a
        >
      </button>
    </div>
  </div>
</div> -->
<%- include('./partials/footer') %>
