<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% if (locals.user) { %>
    <h1><%= user.username %></h1>
    <% } else{%>
    <div class="container" style="width: 100%; margin: 1rem auto">
      <div class="p-5 text-center shadow rounded-3">
        <img
          src="/assets/blogger.png"
          alt="blogger logo"
          class="img-fluid"
          width="50"
        />
        <h1 class="text-body-emphasis">
          No Blogs Posted Yet, Please Login or Create Your Blogs
        </h1>
        <div class="d-inline-flex gap-2 my-4 flex_column">
          <button
            class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
            type="button"
          >
            <a href="/signup" class="nav-link">Create Account</a>
          </button>
          <button
            class="btn btn-outline-secondary btn-lg px-4 rounded-pill"
            type="button"
          >
            <a href="/login" class="nav-link">Login Instead</a>
          </button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<!-- <div class="blog container mt-5 d-flex gap-4 flex-column">
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis"
          >Design</strong
        >
        <h3 class="mb-0">Post title</h3>
        <div class="mb-1 text-body-secondary">Nov 11</div>
        <p class="mb-auto">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/assets/javascript.jpg" alt="blog poster" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis"
          >Design</strong
        >
        <h3 class="mb-0">Post title</h3>
        <div class="mb-1 text-body-secondary">Nov 11</div>
        <p class="mb-auto">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/assets/javascript.jpg" alt="blog poster" class="img-fluid" />
      </div>
    </div>
  </div>
</div> -->

<%- include('./partials/footer') %>
