<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div class="container mt-5 border p-3 rounded shadow">
  <form action="/login" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        aria-describedby="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Enter password"
      />
    </div>
    <button type="submit" class="btn btn-outline-primary">Login</button>
  </form>
</div>
<%- include('./partials/footer') %>
