<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div class="container mt-5 border p-3 rounded shadow">
  <form action="/signin" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="formFile" class="form-label">Choose Photo</label>
      <input
        type="file"
        class="form-control"
        name="profileImage"
        id="formFile"
        aria-label="file example"
        required
      />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="name"
        placeholder="Enter name"
        aria-describedby="name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        aria-describedby="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Enter password"
      />
    </div>
    <button type="submit" class="btn btn-outline-primary">
      Create Account
    </button>
  </form>
</div>
<%- include('./partials/footer') %>
